<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>História do Livros e Café</h2>
				        <p>O site de Livros Online com a Sua Cara</p>
				        <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-1 col-md-1"></div>
            <div class="col-lg-10 col-md-10">
                <br>
                <p class="text-justify">Este site está sendo desenvolvido atualmente por Jeferson Eduardo Guido. Aluno do Instituto Federal do Paraná - Campus Assis Chateaubriand</p>
                <p class="text-justify">Originalmente este site foi desenvolvido por uma equipe do Segundo Ano de Técnico em Informática Integrado, no ano de 2015, no Instituto Federal do Paraná campus Cascavel.<p>
                <p class="text-justify">A equipe era composta por seis(6) integrantes, sendo eles:</p>
                <p class="text-justify">No ambito de desenvolvimento: Jeferson Eduardo, Monique Rodrigues, Ester Costa Marinho e Allan David</p>
                <p class="text-justify">No ambito de pesquisas: Emily Sabrina Guedes Pimenta e Vanessa Silva Almeida.</p>
                <br>
            </div>
            <div class="col-lg-1 col-md-1"></div>
	        </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="container">

    <div class="row well">
        <p class="text-justify"><h4>Venha nos conhecer:</h4></p>

        <div class="col-lg-6 col-md-6">
          <p>Estamos em Assis Chateaubriand! </p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3633.3780343649096!2d-53.50941838544215!3d-24.40293098427167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f3a9c6591382c9%3A0x1455e88df731e652!2sIFPR%2C+Instituto+Federal+do+Paran%C3%A1+campus+Assis+Chateaubriand!5e0!3m2!1spt-BR!2sbr!4v1529283146602" width="auto" height="auto" frameborder="0" style="border:0" allowfullscreen>
          </iframe>
        </div>
        <div class="col-lg-6 col-md-6"></div>
    </div>
    <!-- /.row -->

</div>
