<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Pisicologia</h1>
            <ol class="breadcrumb">
                <li><a href="#/">inicio</a>
                </li>
                <li class="active">Pisicologia</li>
            </ol>
        </div>
    </div>

    <div class="row">
      <div ng-controller="PageCtrl">
         <div class="row well">
           <div class="col-lg-1 col-md-1"></div>
           <div class="col-lg-10 col-md-10">
             <article>
               <section>
                 <h4>Pisicologia</h4>
                 <br>
                 <p><a title="" href="http://www.dominiopublico.gov.br/download/texto/gu000069.pdf">A Paranoia</a></p>
   				       <p><a title="" href="http://www.dominiopublico.gov.br/download/texto/fa000009.pdf">Comunidade Lua Nova</a></p>
   				       <p><a title="" href="http://www.dominiopublico.gov.br/download/texto/ea000886.pdf">A Ludoterapia Dentro Do Contexto Hospitalar</a></p>
   				       <p><a title="" href="http://www.dominiopublico.gov.br/download/texto/ea000595.pdf">AS REPRESENTAÇÕES SOCIAIS DE HOMOSSEXUAIS QUANTO A SUA PRÓPRIA SEXUALIDADE</a></p>
   				       <p><a title="" href="http://www.dominiopublico.gov.br/download/texto/up000014.pdf">Ensaio sobre a criação teórica em psicanálise</a></p>
               </section>
             </article>
           </div>
           <div class="col-lg-1 col-md-1"></div>
         </div>
       </div>
    </div>
</div>
<!-- /.container -->
